src/node-red/mqtt-monitoring.flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Mqtt Monitoring",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7b0fb1d7f08c2c99",
        "type": "mqtt-broker",
        "name": "mqs-broker-emqx",
        "broker": "192.168.197.7",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "55237936ac299052",
        "type": "mqtt-broker",
        "name": "mqs-broker-activemq",
        "broker": "192.168.197.4",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5f323197bc0bf18c",
        "type": "mqtt-broker",
        "name": "mqs-broker-mosquitto",
        "broker": "192.168.197.5",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a34b3b1abf981c49",
        "type": "mqtt-broker",
        "name": "mqs-broker-aedes",
        "broker": "192.168.197.6",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "20b6e86c1f458d3a",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "mqtt emqx qos 0",
        "topic": "benchmark/qos0",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7b0fb1d7f08c2c99",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "827bee6bdae9be80"
            ]
        ]
    },
    {
        "id": "827bee6bdae9be80",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "emqx qos 0",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 350,
        "y": 40,
        "wires": []
    },
    {
        "id": "7edee4ed803d4fcb",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "mqtt emqx qos 1",
        "topic": "benchmark/qos1",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7b0fb1d7f08c2c99",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "19f0c0da09a1a7ba"
            ]
        ]
    },
    {
        "id": "19f0c0da09a1a7ba",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "emqx qos 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "74e310729ac43bfd",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "mqtt emqx qos 2",
        "topic": "benchmark/qos2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7b0fb1d7f08c2c99",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "ef3e6cee14df2ef9"
            ]
        ]
    },
    {
        "id": "ef3e6cee14df2ef9",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "emqx qos 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 350,
        "y": 160,
        "wires": []
    },
    {
        "id": "a87cb7155511fd82",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "activemq qos 0",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "a5605204c4c597f4",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "mqtt activemq qos 0",
        "topic": "benchmark/qos0",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "55237936ac299052",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "a87cb7155511fd82"
            ]
        ]
    },
    {
        "id": "d656b7b9d2c2ceda",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "mqtt activemq qos 1",
        "topic": "benchmark/qos1",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "55237936ac299052",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "06a5a43f58f4bc5e"
            ]
        ]
    },
    {
        "id": "06a5a43f58f4bc5e",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "activemq qos 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 360,
        "y": 320,
        "wires": []
    },
    {
        "id": "dd9644382f6addc1",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "mqtt activemq qos 2",
        "topic": "benchmark/qos2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "55237936ac299052",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "4d52d5e2e6b0d418"
            ]
        ]
    },
    {
        "id": "4d52d5e2e6b0d418",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "activemq qos 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 360,
        "y": 380,
        "wires": []
    },
    {
        "id": "d080eb648acd1c6d",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "mqtt mosquitto qos 0",
        "topic": "benchmark/qos0",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5f323197bc0bf18c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 40,
        "wires": [
            [
                "71a05253a507fb6c"
            ]
        ]
    },
    {
        "id": "71a05253a507fb6c",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "mosquitto qos 0",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 820,
        "y": 40,
        "wires": []
    },
    {
        "id": "2212215625651370",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "mqtt mosquitto qos 1",
        "topic": "benchmark/qos1",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "5f323197bc0bf18c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 100,
        "wires": [
            [
                "74962e5393a7b981"
            ]
        ]
    },
    {
        "id": "74962e5393a7b981",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "mosquitto qos 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 820,
        "y": 100,
        "wires": []
    },
    {
        "id": "97fa13d44fbf7b06",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "mqtt mosquitto qos 2",
        "topic": "benchmark/qos2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5f323197bc0bf18c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 160,
        "wires": [
            [
                "5b664eeaed301b5a"
            ]
        ]
    },
    {
        "id": "5b664eeaed301b5a",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "mosquitto qos 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "473fe6feac9a70e4",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "aedes qos 0",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "755c9dbc6c24e5d9",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "mqtt aedes qos 0",
        "topic": "benchmark/qos0",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a34b3b1abf981c49",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 260,
        "wires": [
            [
                "473fe6feac9a70e4"
            ]
        ]
    },
    {
        "id": "f3b3d64aa54d0e2d",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "mqtt aedes qos 1",
        "topic": "benchmark/qos1",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a34b3b1abf981c49",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 320,
        "wires": [
            [
                "63c5ac3e8152a999"
            ]
        ]
    },
    {
        "id": "63c5ac3e8152a999",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "aedes qos 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "73976b4a02272b14",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "mqtt aedes qos 2",
        "topic": "benchmark/qos2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a34b3b1abf981c49",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 380,
        "wires": [
            [
                "59cbfaa62e49ae91"
            ]
        ]
    },
    {
        "id": "59cbfaa62e49ae91",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "aedes qos 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 810,
        "y": 380,
        "wires": []
    }
]